<div class="hero-unit">
                <h1 align="center">О проекте</h1>
        </div>
            <div class="well">
                <p>Портал кафедры информатики предназначен для предоставления информации абитуриентам, студентам и преподавателям, о кафедре расписании научной деятельности и о инновационных методах обучения.</p>
                <p>P.S. Так же, есть версия на английском языке</p>
            </div>
            <div class="well">Участники разработки проекта:
                <p>
                <i><p><b><img src="img/yiu.jpg" height="130" width="130" alt="">Базыльян Ростислав Сергеевич</b> – Студент направления "Прикладная информатика в информационной сфере"</p></ul> 
                <i><p><b><img src="img/yiu.jpg" height="130" width="130" alt="">Подымова Екатерина Сергеевна</b> – Студентка направления "Прикладная информатика в информационной сфере"</p></ul>         
            </div>