<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Magistracy</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div>DIRECTION OF TRAINING OF THE MASTER
230700 – Application informatics
Master program
Business process reengineering in ОТС
Appropriated qualification – the master of application-oriented informatics
Period of training of the master – 2 years
Program purposes
Training of highly qualified analysts for operation in the field of creation, upgrade, implementation and business process modeling in difficult organizational and technical systems on the basis of intellectual high information technologies, instrumental and program systems, methodologies of simulation of key processes of functioning of organizational and technical systems.
Features of the program
Combination of theoretical and practical preparation in the field of business process modeling with study of intellectual methods of optimization of organizational and technical systems;
Profound study of mathematical, analytical and information models and business process reengineering methods;
The innovative nature of training based on use of the modern systems of visualization and simulation, research and a business process optimization in organizational and technical systems for the purpose of increase of their efficiency;
Study of the advanced international and domestic scientific approaches in the field of business process reengineering.
Short summary on ГОС
Entity and principles of business process reengineering. Organization structure of the enterprise on the basis of business process management. Use of information technologies in business process reengineering. Organization of operations for business process reengineering. Business process modeling methodologies; methodology of the functional business process modeling. Cost analysis of functions of business processes (ABC analysis). Object-oriented modeling of business processes. Simulation modeling of business processes. Work benches of simulation, their classification and main characteristics. Implementation of information technologies of business management, as means of business process reengineering.
Contents of the master program
Disciplines of a general scientific cycle:
Philosophical problems of science and technique;
Mathematical simulation;
Mathematical and instrumental methods of support of decision-making.
Disciplines of a pofessionalny cycle:
Business foreign language;
Information society and problems of applied Informatics;
Methodology and technology of design of information systems.
Disciplines at the choice of the undergraduate:
Object-oriented modeling of business processes in organizational and technical systems;
Simulation modeling of business processes in organizational and technical systems;
Work benches of business process modeling.
Teaching composition
Program Manager – Valeev S.S., doctor of Engineering, professor, head of the department of informatics of the Ufa state aviation technical university.
The master program is implemented by teachers of chair of informatics and other UGATU chairs, and also highly qualified experts experts from the scientific and production enterprises and the region organizations.
Among teachers of 2 Doctors of Engineering having the considerable experience of scientific, pedagogical activities and practical operation in the research and production sphere.
Site of chair of informatics: http://inf.ugatu.ac.ru
The list of the interested employers
International airports «Ufa», «Sheremetyevo» and others.;
Airlines «Аэрофлот», S7, ЮТЭйр, ТРАНСАЭРО and others.;
Transport companies ОАО РЖД, ГУП «Башавтотрнас» and others.;
Administrative-territorial bodies of authority and management;
Fuel and energy complex enterprises ОАО Башкирэнерго, ОАО Нефтеавтоматика и др.;
Large courier services DHL, PONY, EMS-гарантпост и др.;
Компании АйТи, БашТехИнформ, UfaNET и др.</div>
    </body>
</html>
