<style>
p{
        text-indent: 15px;
      }
</style>
<H2 align="center">Directions of scientific operation</H2>
<br><br>

<div class="well">

<h4>Scientific researches of chair are conducted in the following directions:</h4><br />
<i>
<ul>
	<li>Intellectual information systems of real time on the basis of the concept of multivariate bases and databanks;</li>
	<li>Coordination office in multi-agent systems;</li>
	<li>Automated network and remote learning;</li>
	<li>Expert systems with multiple inference engines;</li>
	<li>Monitoring of educational activities of the region;</li>
	<li>Object-oriented design of information systems;</li>
	<li>Models and algorithms of diagnostics of engineering networks;</li>
	<li>Planning and control of educational process in educational systems;</li>
	<li>Optimization of structure of control by the isolated educational systems.</li>
</ul>
</i>
<br>

    <p>The scientific directions and solved problems correspond to the content of educational process of chair and scientific problems of training of specialists.
    From 1999 for 2009 on chair 2 doctor's and 17 master's dissertations are defended.
    The informatics chair annually takes part in execution of federal and regional scientific and technical programs. From 1999 on 2009 scientific researches were conducted within grants and programs for the following projects:</p>
<ul>
     <i><li type="circle">1998-2000 on a subject "Informatics, control in technical systems, automated systems and ADP equipment", section:  «Design of multidimensional databases for information systems of support of decision-making» within the subject plan of the state budgetary НИР;</li>
	<li type="circle">2001 on a subject “The intelligent development of the information educational environment for open education” within the subject plan of the state budgetary НИР;</li>
	<li type="circle">2002 on a subject «Development of the information and educational environment of the region on the example of the Republic of Bashkortostan», section «Development of theoretical bases and the normative principles of the organization of control in the information and educational environments of regional systems of remote learning» within the subject plan of the state budgetary НИР;</li>
	<li type="circle">2002 within the MO Russian Federation scientific and technical program "Creation of system of open education" for the subject "Development of Model of the Organization of Educational Process on the Virtual Chair in System of Open Education with Use of Technology of Machine Intelligence and Internet Technologies" within the subject plan of the state budgetaryНИР;</li>
	<li type="circle">1998-1999 with scientific and technical center "Signal" on the subject "Development and Deployment of Decision Making System Integrated by Industrial Control System of Electrical Power Supply and PPD" on a self-supporting basis;</li>
	<li type="circle">2003 with the New and Ufa oil refinery on the subject "Creation of an Automated Workplace of the Duty Chemist-operator" on a self-supporting basis;</li>
	<li type="circle">2006 with UGNTU on the subject "Development of Test Jobs on "Informatics"" on a self-supporting basis;</li>
	<li type="circle">2007-2008 the chair became the participant of the Innovative educational program of the university implemented within the National Education project. Operations were carried out under the leadership of the prof. Kabalnov Y.S. on the subject "Information Support of Life Support Systems of Spacecrafts";</li>
	<li type="circle">2008-2009 about JSC Izhdrillnordeks (Neftekamsk) and ATP "Vostoknefteprovodstroy" on the subject "Development of Interactive Directory Systems and Learning Modules";</li>
	<li type="circle">2008-2009 with JSC Soliton on the subject "Software Development for the Linear Units of Equipment of Communication".</li>
</i>
</ul>
</div>