
<p>&nbsp;</p>
<p><strong><a name="pps"></a><span style="text-decoration: underline;">Characteristic of the teaching staff</span></strong></p>
<table class="table table-striped">
<tbody>
<tr>
  <td width="10" >
<p>#</p>
</td>
<td width="105" valign="top">
<p>ФИО</p>
</td>
<td width="72" valign="top">
<p>Position</p>
</td>
<td width="59" valign="top">
<p>Scientific level</p>
</td>
<td width="77" valign="top">
<p>Academic status</p>
</td>
</tr>
<tr>
      <td>1</td>
<td width="105" valign="top">
<p>Valeev Sagit Sabitovich</p>
</td>
<td width="72" valign="top">
<p>Head of the department</p>
</td>
<td width="59" valign="top">
<p>D.T.S.</p>
</td>
<td width="77" valign="top">
<p>Professor</p>
</td>
</tr>
<tr>
<td>2</td>
    <td width="105" valign="top">
<p>Tarhov Sergey Vladimirovich</p>
</td>
<td width="72" valign="top">
<p>Professor</p>
</td>
<td width="59" valign="top">
<p>D.T.S.</p>
</td>
<td width="77" valign="top">
<p>Associate professor</p>
</td>
</tr>
<tr>
    <td>3</td>
<td width="105" valign="top">
<p>Karimov Rinat Ravil'evich</p>
</td>
<td width="72" valign="top">
<p>Associate professor</p>
</td>
<td width="59" valign="top">
<p>C.T.S.</p>
</td>
<td width="77" valign="top">
<p>Associate professor</p>
</td>
</tr>
<tr>
    <td>4</td>
<td width="105" valign="top">
<p>Kuz'mina Elena Alekseevna</p>
</td>
<td width="72" valign="top">
<p>Associate professor</p>
</td>
<td width="59" valign="top">
<p>C.T.S.</p>
</td>
<td width="77" valign="top">
<p>Associate professor</p>
</td>
</tr>
<tr>
    <td>5</td>
<td width="105" valign="top">
<p>Minasov Shamil Maratovich</p>
</td>
<td width="72" valign="top">
<p>Associate professor</p>
</td>
<td width="59" valign="top">
<p>C.T.S.</p>
</td>
<td width="77" valign="top">
<p>Associate professor</p>
</td>
</tr>
<tr>
    <td>6</td>
<td width="105" valign="top">
<p>Kondrat'eva Natalya Vladimirovna.</p>
</td>
<td width="72" valign="top">
<p>Associate professor</p>
</td>
<td width="59" valign="top">
<p>C.T.S.</p>
</td>
<td width="77" valign="top">
<p>Associate professor</p>
</td>
</tr>
<tr>
    <td>7</td>
<td width="105" valign="top">
<p>Urazbahtin Rustem Nurovich</p>
</td>
<td width="72" valign="top">
<p>Associate professor</p>
</td>
<td width="59" valign="top">
<p>C.T.S.</p>
</td>
<td width="77" valign="top">
<p>Associate professor</p>
</td>
</tr>
<tr>
    <td>8</td>
<td width="105" valign="top">
<p>Shehtman Lidia Ivanovna</p>
</td>
<td width="72" valign="top">
<p>Associate professor</p>
</td>
<td width="59" valign="top">
<p>к.ф.-м.н.</p>
</td>
<td width="77" valign="top">
<p>Associate professor</p>
</td>
</tr>
<tr>
    <td>9</td>
<td width="105" valign="top">
<p>Minasova Natalya Sergeevna</p>
</td>
<td width="72" valign="top">
<p>Associate professor</p>
</td>
<td width="59" valign="top">
<p>C.T.S.</p>
</td>
<td width="77" valign="top">
<p>Associate professor</p>
</td>
</tr>
<tr>
    <td>11</td>
<td width="105" valign="top">
<p>Nizamova Guzel Fanisovna</p>
</td>
<td width="72" valign="top">
<p>Associate professor</p>
</td>
<td width="59" valign="top">
<p>C.T.S.</p>
</td>
<td width="77" valign="top">
<p>Associate professor</p>
</td>
</tr>
<tr>
    <td>11</td>
<td width="105" valign="top">
<p>Karchevskaya Margarita Petrovna</p>
</td>
<td width="72" valign="top">
<p>Associate professor</p>
</td>
<td width="59" valign="top">
<p>&nbsp;</p>
</td>
<td width="77" valign="top">
<p>Associate professor</p>
</td>
</tr>
<tr>
    <td>12</td>
<td width="105" valign="top">
<p>Ramburger Olga Leonardovna</p>
</td>
<td width="72" valign="top">
<p>Associate professor</p>
</td>
<td width="59" valign="top">
<p>&nbsp;</p>
</td>
<td width="77" valign="top">
<p>&nbsp;</p>
</td>
</tr>
<tr>
    <td>13</td>
<td width="105" valign="top">
<p>Maslennikov Vitaliy Aleksandrovich</p>
</td>
<td width="72" valign="top">
<p>Associate professor</p>
</td>
<td width="59" valign="top">
<p>C.T.S.</p>
</td>
<td width="77" valign="top">
<p>&nbsp;</p>
</td>
</tr>
<tr>
    <td>14</td>
<td width="105" valign="top">
<p>Bakusov Leonid Michailovich</p>
</td>
<td width="72" valign="top">
<p>Associate professor</p>
</td>
<td width="59" valign="top">
<p>C.T.S.</p>
</td>
<td width="77" valign="top">
<p>Associate professor</p>
</td>
</tr>
<tr>
    <td>15</td>
<td width="105" valign="top">
<p>Sergeev Anatoliy Nikolaevich</p>
</td>
<td width="72" valign="top">
<p>Associate professor</p>
</td>
<td width="59" valign="top">
<p>C.T.S.</p>
</td>
<td width="77" valign="top">
<p>Associate professor</p>
</td>
</tr>
<tr>
    <td>16</td>
<td width="105" valign="top">
<p>Margamov Aleksandr Valer'evich</p>
</td>
<td width="72" valign="top">
<p>Associate professor</p>
</td>
<td width="59" valign="top">
<p>C.T.S.</p>
</td>
<td width="77" valign="top">
<p>&nbsp;</p>
</td>
</tr>
<tr>
    <td>17</td>
<td width="105" valign="top">
<p>Smirnova Elena Aleksandrovna</p>
</td>
<td width="72" valign="top">
<p>The degree lecturer</p>
</td>
<td width="59" valign="top">
<p>C.T.S.</p>
</td>
<td width="77" valign="top">
<p>&nbsp;</p>
</td>
</tr>
<tr>
    <td>18</td>
<td width="105" valign="top">
<p>Hamzina Elena Aleksandrovna</p>
</td>
<td width="72" valign="top">
<p>The degree lecturer</p>
</td>
<td width="59" valign="top">
<p>&nbsp;</p>
</td>
<td width="77" valign="top">
<p>&nbsp;</p>
</td>
</tr>
<tr>
    <td>19</td>
<td width="105" valign="top">
<p>Gariffulina Natalya Anatol'evna</p>
</td>
<td width="72" valign="top">
<p>The degree lecturer</p>
</td>
<td width="59" valign="top">
<p>&nbsp;</p>
</td>
<td width="77" valign="top">
<p>&nbsp;</p>
</td>
</tr>
<tr>
    <td>20</td>
<td width="105" valign="top">
<p>Yamilova Lina Rafael'evna</p>
</td>
<td width="72" valign="top">
<p>The degree lecturer</p>
</td>
<td width="59" valign="top">
<p>&nbsp;</p>
</td>
<td width="77" valign="top">
<p>&nbsp;</p>
</td>
</tr>
<tr>
    <td>21</td>
<td width="105" valign="top">
<p>Tarnoveckaya Vera Petrovna</p>
</td>
<td width="72" valign="top">
<p>The degree lecturer</p>
</td>
<td width="59" valign="top">
<p>&nbsp;</p>
</td>
<td width="77" valign="top">
<p>&nbsp;</p>
</td>
</tr>
<tr>
    <td>22</td>
<td width="105" valign="top">
<p>Milushkina Svetlana Sergeevna</p>
</td>
<td width="72" valign="top">
<p>Assistant</p>
</td>
<td width="59" valign="top">
<p>&nbsp;</p>
</td>
<td width="77" valign="top">
<p>&nbsp;</p>
</td>
</tr>
<tr>
    <td>23</td>
<td width="105" valign="top">
<p>Adgamova Gul'nara Haerzamanovna</p>
</td>
<td width="72" valign="top">
<p>Assistant</p>
</td>
<td width="59" valign="top">
<p>&nbsp;</p>
</td>
<td width="77" valign="top">
<p>&nbsp;</p>
</td>
</tr>
<tr>
    <td>24</td>
<td width="105" valign="top">
<p>Kovtunenko Aleksey Sergeevich</p>
</td>
<td width="72" valign="top">
<p>Assistant</p>
</td>
<td width="59" valign="top">
<p>&nbsp;</p>
</td>
<td width="77" valign="top">
<p>&nbsp;</p>
</td>
</tr>
</tbody>
</table>

   