<div class="hero-unit">
                <h1 align="center">About</h1>
        </div>
            <div class="well">
                <p>Portal of the Department of computer science is designed to provide information for applicants, students and teachers, about the schedule of scientific activity and innovative teaching methods.</p>
                <p>P.S. Also, there is a version in English language</p>
            </div>
            <div class="well">Participants of development of project:
                <p>
                <i><p><b><img src="img/yiu.jpg" height="130" width="130" alt="">Bazylyan Rostislav Sergeevich</b> – Student of the direction "Applied computer science in information sphere"</p></ul> 
                <i><p><b><img src="img/yiu.jpg" height="130" width="130" alt="">Podymova Ekaterina Sergeevna</b> – Student of the direction "Applied computer science in information sphere"</p></ul>         
            </div>